@use "../../style/variables" as *;

.menu-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  
  .menu-box{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }
}
.jetongame{
  width: 48px;
  height: 48px;
  border: 2px solid transparent;
  border-radius: 8px;
  &:hover{
    border: 2px solid $orangesoft;
    cursor: pointer;
  }
}
.activegame{
  border: 2px solid $clear;
}

.jeton{
  width: 48px;
  height: 48px;
  border: 2px solid transparent;
  border-radius: 8px;
  &:hover{
    border: 2px solid $bluesoft;
    cursor: pointer;
  }
}
.active{
  border: 2px solid $blueclear;
}
.btn-find{
  width: 48px;
  height: 48px;
  margin-left: 0.2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  &:hover{
    transition-duration: 0.5s;
    transform: translateX(20px);
  }
}
.btn-mygame{
  width: 8rem;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  padding-bottom: 0.4rem;
  color: $clear;
  &:hover{
    background-color: rgba(0, 160,0, 0.4);
    cursor: pointer;
  }
}