@use "../../style/variables" as *;

.menu-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  
  .menu-box{
    width: 80%;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    .jeton{
      width: 48px;
      height: 48px;
      border: 2px solid transparent;
      border-radius: 8px;
      &:hover{
        border: 2px solid $bluesoft;
        cursor: pointer;
      }
    }
    .active{
      border: 2px solid $blueclear;
    }
  }
}
.btn-find{
  width: 10rem;
  margin-left: 1rem;
  border: none;
  background-color: transparent;
  color: $clear;
  font-size: 1.2rem;
  border-radius: 16px;
  cursor: pointer;
  &:hover{
    transform: translateX(5px);
  }
}