$bluedark: #001219;
$bluemedium: #005f73;
$bluesoft: #0a9396;
$blueclear: #94d2bd;
$clear: #e9d8a6;
$orangesoft: #ee9b00;
$orangemedium: #ca6702;
$brownmedium: #bb3e03;
$redmedium: #ae2012;
$reddark:  #9b2226;



