@use "../../style/variables" as *;
@use "../../style/mixins" as *;
.line-container{
  width: 100%;
  height: max-content;

  ul{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
  }
  li{
    width: 52px;
    height: 52px;
    list-style: none;
  }
  img{
    width: 48px;
    height: 48px;
    &:hover{
      scale: 1.08;
      transform: translateX(-2px) translateY(-2px);
      transition-duration: 0.2s;
      cursor: pointer;
    }
  }
}
.line{
  img{
    width: 48px;
    height: 48px;
  }
}