@use "../../style/variables" as *;
@use "../../style/mixins" as *;
.line-container{
  
  position: relative;
  width: 90%;
  height: max-content;
  margin: 1rem auto;

  ul{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0;
  }
  li{
    width: 52px;
    height: 52px;
    list-style: none;
  }
  img{
    width: 48px;
    height: 48px;
    &:hover{
      scale: 1.08;
      transform: translateX(-2px) translateY(-2px);
      transition-duration: 0.2s;
      cursor: pointer;
    }
  }
}
.line{
  img{
    width: 48px;
    height: 48px;
  }
}
.btn-close{
  width: 8rem;
  height: 1.6rem;
  text-align: center;
  color: $clear;
  background-color: transparent;
  border-radius: 6px;
  border: none;
  &:hover{
    background-color: rgba(0,160,0,0.5);
  }
  

}